#profilePhotoColumnDark {
  padding: 0 15px 15px 15px;
  margin: 50px 0 0 0;
  height: 365px;
  background: #121212;
  color: white;
}

#profilePhotoColumnLight {
  padding: 0 15px 15px 15px;
  margin: 50px 0 0 0;
  height: 365px;
  background: white;
  color: black;
}

#profilePhoto {
  width: 250px;
  height: 250px;
}