#registerContainer {
  min-height: 100vh - 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#registerDiv {
  width: 350px;
}

#signInPage {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}